
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 15%;
  margin-left: 15%;
}

p {
  font-size: 1.3em;
}

/* style header */
#header {
  text-align: center;
  border-bottom: 2px solid black;
  background-color: rgba(192, 192, 192, 0.609);
}


.nav-item {
  border: black;
  border-bottom: .001px solid black;
  padding-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#navList a {
  border-color: black;
  background-color: white;
}

#navList a:hover {
  background-color: rgba(255, 31, 31, 0.199);
}

.nav-tabs {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

h5.register {
  color: red;
}


span.hidden-link {
  text-decoration-style: none;
  color: black !important;
}

span#heading {
  display: inline-block;
  margin-top: 20px;
}

h1#head {
  color: red;
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
}

h3#header {
  font-size: 5em;
  font-weight: bold;
}



#authorized {
  font-style: italic;
  font-weight: bold;
  color: red;
}


/* style search criteria */

p.smaller {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

label.pad {
  margin-right: 10px;
}

input.pad {
  margin-right: 3px;
}


 #submit {
  display: inline-block; 
} 


.center-text {
  text-align: center;
  font-style: italic;
}

.btn {
  font-weight: bold;
  padding: 2px 5px;
  font-size: 20px;
}

 .btn:hover {
  background-color: red;
  border-color: red;
} 



/* hide product id */
.product_id_hidden {
  display: none;
}

/* style link */
div.links {
  margin-top: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(192, 192, 192, 0.192);
  border: 2px solid black;
  box-shadow: 5px 10px 8px #888888;
}

h5 {
  font-weight: bold;
}

/* style tables */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(54, 54, 221);;
  color: white;
}


/* style add form */
h2.add {
  text-align: center;
  color: red;
  font-weight: bold;
}

input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: rgba(44, 112, 221, 0.849);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color:  rgb(44, 112, 221);
  
}

div.add {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

p.add {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

p>a {
  color: red;
  font-size: 1.2em;
}


/* style type list */
h2.list {
  text-align: center;
  color: red;
  font-weight: bold;
}

div.list {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label.list {
  font-weight: bold;
  font-size: 1.2em;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */


body {
  margin-right: 5%;
  margin-left: 5%;
}
  /*header */
h1#head {
  font-size: 2em;
}

h3#header {
  font-size: .7em;
  font-weight: bold;
}


/* responsive table */

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* hide table headers  */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border: 1px solid #ccc; 
  }
	
	td { 
		/* create row */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* header */
		position: absolute;
		/* padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	new
  */
  td.mainc:nth-of-type(1):before { content: "Year"; }
	td.mainc:nth-of-type(2):before { content: "Make"; }
	td.mainc:nth-of-type(3):before { content: "Model"; }
	td.mainc:nth-of-type(4):before { content: "Price"; }
  td.mainc:nth-of-type(5):before { content: "Type"; }
  td.mainc:nth-of-type(6):before { content: "Class"; }

	td.main:nth-of-type(1):before { content: "Year"; }
	td.main:nth-of-type(2):before { content: "Year"; }
	td.main:nth-of-type(3):before { content: "Make"; }
	td.main:nth-of-type(4):before { content: "Model"; }
	td.main:nth-of-type(5):before { content: "Price"; }
  td.main:nth-of-type(6):before { content: "Type"; }
  td.main:nth-of-type(7):before { content: "Class"; }


  td.table:nth-of-type(1):before { content: "Name"; }
	td.table:nth-of-type(2):before { content: ""; }
	td.table:nth-of-type(3):before { content: "Name"; }
	td.table:nth-of-type(4):before { content: ""; } }